name: CI

on: [push, workflow_dispatch]

jobs:
  build:
    name: ${{matrix.platform.name}} ${{matrix.config.name}}
    runs-on: ${{matrix.platform.os}}

    strategy:
      fail-fast: false
      matrix:
        platform:
        - { name: Windows,     os: windows-latest }
        - { name: Linux GCC,   os: ubuntu-latest }
        - { name: Linux Clang, os: ubuntu-latest, flags: -DCMAKE_CXX_COMPILER=clang++ }
        - { name: macOS,       os: macos-latest }
        config:
        - { name: Debug }
        - { name: Release }

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure
      run: cmake --preset dev ${{matrix.platform.flags}} -DCMAKE_BUILD_TYPE=${{matrix.config.name}}

    - name: Build
      run: cmake --build build --config ${{matrix.config.name}} --target install

    - name: Run Tests
      run: ctest --test-dir build --build-config ${{matrix.config.name}} --output-on-failure

    - uses: actions/upload-artifact@v3
      if: matrix.platform.name == 'Linux Clang' && matrix.config.name == 'Debug'
      with:
        name: binary_dir
        path: build

  format:
    name: clang-format
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - uses: actions/download-artifact@v3
      with:
        name: binary_dir
        path: build

    - name: Format
      run: |
        cmake --build build --target format
        git diff --exit-code

  tidy:
    name: clang-tidy
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - uses: actions/download-artifact@v3
      with:
        name: binary_dir
        path: build

    - name: Tidy
      run: cmake --build build --target tidy
