name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: ${{matrix.platform.name}} ${{matrix.config.name}}
    runs-on: ${{matrix.platform.os}}

    strategy:
      fail-fast: false
      matrix:
        platform:
        - { name: Windows,     os: windows-latest }
        # - { name: Linux GCC,   os: ubuntu-latest }
        # - { name: Linux Clang, os: ubuntu-latest, flags: -DCMAKE_CXX_COMPILER=clang++ }
        - { name: macOS,       os: macos-latest,  flags: -GNinja -DCMAKE_CXX_COMPILER=clang++ }
        config:
        - { name: Debug }
        - { name: Release }

    steps:
    - name: Install macOS Dependencies
      if: runner.os == 'macOS'
      run: |
        brew update
        brew install llvm ninja
        echo /opt/homebrew/opt/llvm/bin >> $GITHUB_PATH

    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure
      run: cmake --preset dev ${{matrix.platform.flags}} -DCMAKE_BUILD_TYPE=${{matrix.config.name}}

    - name: Build
      run: cmake --build build --config ${{matrix.config.name}} --target install

    - name: Run Tests
      run: ctest --test-dir build --build-config ${{matrix.config.name}} --output-on-failure

    - uses: actions/upload-artifact@v4
      if: matrix.platform.name == 'macOS' && matrix.config.name == 'Debug'
      with:
        name: binary_dir
        path: build

  format:
    name: clang-format
    needs: build
    runs-on: macos-latest

    steps:
    - name: Install Dependencies
      run: |
        brew update
        brew install llvm ninja
        echo /opt/homebrew/opt/llvm/bin >> $GITHUB_PATH

    - name: Checkout
      uses: actions/checkout@v4

    - uses: actions/download-artifact@v4
      with:
        name: binary_dir
        path: build

    - name: Format
      run: |
        cmake --build build --target format
        git diff --exit-code

  tidy:
    name: clang-tidy
    needs: build
    runs-on: macos-latest

    steps:
    - name: Install Dependencies
      run: |
        brew update
        brew install llvm ninja
        echo /opt/homebrew/opt/llvm/bin >> $GITHUB_PATH

    - name: Checkout
      uses: actions/checkout@v4

    - uses: actions/download-artifact@v4
      with:
        name: binary_dir
        path: build

    - name: Tidy
      run: cmake --build build --target tidy
